* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}



.card {
  position: relative;
  padding: 5px;
  width: 300px;
  min-height: 500px;
  margin: 10px auto;
  min-height: 418px;
  text-align: center;
  border: 2px solid gray;
  border-radius: 4%;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.health {
  max-width: max-content;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 45px;
}

.ability {
  font-size: 25px;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.refresh {
  position: absolute;
  bottom: 10px;
  transform: translateX(-50%);
}